div#todoapp
	header
		h1 Image Board
		input(id="new-todo", type="text", placeholder="Insert a tag here")
	
	section#main
		ul#todo-list

div
		
div#credits
	p Base by 
		a(href='http://sindresorhus.com', target='_blank') Sindre Sorhus. 
	p NodeJS + Mongoose structure by 
		a(href='http://labs.webdiastutoriais.com', target='_blank') Hugo Dias.

